hi{% extends 'base.html' %}
{% load static %}
{% block title %}Kaseya-IOPR {% endblock title %}
{% block head %}
<style>
    input[type="checkbox"] {
        margin: 0 auto;
        display: block;
    }

    .button {
        background-color: #37517e;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 5px 5px;
    }

    .button:hover {
        background-color: #47b2e4;
        transition: 0.2s;
    }

    .submit-btn {
        background-color: #37517e;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px;
    }

    .submit-btn:hover {
        background-color: #47b2e4;
        transition: 0.2s;
    }
</style>
{% endblock head %}
{% block body %}

<section id="wfh" class="pricing">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>In Office Presence Roster</h2>
        </div>
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <div class="container">
                        <button id="reset-button" class="button">Uncheck All</button>
                        <form id="roster-form" method="POST" onsubmit="saveFormValues()">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <label for="department">Department</label>
                                    <select id="department" class="form-control">
                                        <option value="">Choose a department</option>
                                        {% for department in departments %}
                                        <option value="{{ department }}">{{ department }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="manager">Manager</label><br>
                                    <select id="manager" class="form-control" disabled>
                                        <option value="">Choose a department first</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="week">Week No</label>
                                    {{ form.week }}
                                </div>
                            </div><br><br>
                            <hr><br>
                            <div class='row' id="employee-table-container" class="checkbox-label"></div>
                            <br><br>
                            <button id="save-roster-btn" type="button" class="submit-btn"
                                style="display: block; margin: 0 auto;">Submit</button>
                        </form>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                        <script>
                            $(document).ready(function () {    
                                $('#department').change(function () {
                                    var selected_department = $(this).val();
                                    if (selected_department) {
                                        $('#manager').prop('disabled', false);
                                        $('#manager').html('<option value="">Loading...</option>');
                                        $.ajax({
                                            url: '/load_managers/',
                                            data: {
                                                'department': selected_department
                                            },
                                            success: function (managers) {
                                                $('#manager').html('<option value="">Choose a manager</option>');
                                                managers.forEach(function (manager) {
                                                    $('#manager').append(`<option value="${manager}">${manager}</option>`);
                                                });
                                            },
                                            error: function (xhr, status, error) {
                                                alert('An error occurred while loading the managers: ' + error);
                                                $('#manager').html('<option value="">Choose a department first</option>');
                                                $('#employee').html('');
                                                $('#manager').prop('disabled', true);
                                                $('#employee').prop('disabled', true);
                                            }
                                        });
                                    } else {
                                        $('#manager').html('<option value="">Choose a department first</option>');
                                        $('#employee').html('');
                                        $('#manager').prop('disabled', true);
                                        $('#employee').prop('disabled', true);
                                    }
                                });

                                $('#manager').change(function () {
                                    var selected_manager = $(this).val();
                                    if (selected_manager) {
                                        $('#employee-table-container').html('<table id="employee-table"><thead><tr><th>Name</th><th>Employee ID</th><th style="text-align: center;">Sunday</th><th style="text-align: center;">Monday</th><th style="text-align: center;">Tuesday</th><th style="text-align: center;">Wednesday</th><th style="text-align: center;">Thursday</th><th style="text-align: center;">Friday</th><th style="text-align: center;">Saturday</th></tr></thead><tbody></tbody></table><br>');
                                        $.ajax({
                                            url: '/load_employees_and_ids/',
                                            data: {
                                                'manager': selected_manager
                                            },
                                            success: function (data) {
                                                $('#employee-table tbody').html('');
                                                data.employees.forEach(function (employee, index) {
                                                    const employeeId = data.employee_ids[index];
                                                    const selectedWeek = $('#id_week').val();
                                                    const url = `/week_dates?week=${selectedWeek}`;
                                                    fetch(url)
                                                        .then(response => response.json())
                                                        .then(data => {
                                                            const checkboxes = `
                                                                <td>${employeeId}</td>
                                                                <td><input type="checkbox" class="checkbox" name="sunday" value="${data.week_dates[0]}"></td>
                                                                <td><input type="checkbox" class="checkbox" name="monday" value="${data.week_dates[1]}" checked></td>
                                                                <td><input type="checkbox" class="checkbox" name="tuesday" value="${data.week_dates[2]}" checked></td>
                                                                <td><input type="checkbox" class="checkbox" name="wednesday" value="${data.week_dates[3]}" checked></td>
                                                                <td><input type="checkbox" class="checkbox" name="thursday" value="${data.week_dates[4]}" checked></td>
                                                                <td><input type="checkbox" class="checkbox" name="friday" value="${data.week_dates[5]}" checked></td>
                                                                <td><input type="checkbox" class="checkbox" name="saturday" value="${data.week_dates[6]}"></td>
                                                            `;
                                                            $('#employee-table tbody').append(`<tr><td>${employee}</td>${checkboxes}</tr>`);
                                                        });
                                                });
                                            }
                                        });
                                    }
                                });
                                
                            });
                        </script>
                        <script>
                            // Add event listener for the reset button
                            $('#reset-button').on('click', function () {
                                $('.checkbox').prop('checked', false);
                            });
                        </script>
                        <script>
                            $('#save-roster-btn').click(function () {
                                const department = $('#department').val();
                                const manager = $('#manager').val();
                                const week = $('#id_week').val();
                                const employees = [];
                                const days = {};

                                $('.checkbox:checked').each(function () {
                                    const employeeName = $(this).closest('tr').find('td:first-child').text();
                                    const checkedDay = $(this).attr('name');
                                    const checkedDate = $(this).val();

                                    if (!(employeeName in days)) {
                                        days[employeeName] = [];
                                    }

                                    days[employeeName].push(checkedDate);
                                    employees.push(employeeName);
                                });

                                $.ajax({
                                    type: 'POST',
                                    url: '/save_roster/',
                                    data: {
                                        'department': department,
                                        'manager': manager,
                                        'week': week,
                                        'employee': employees,
                                        'days': JSON.stringify(days),
                                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                                    },
                                    success: function (response) {
                                        // handle success
                                        window.location.href = '/';
                                    },
                                    error: function (xhr, status, error) {
                                        // handle error
                                        var errorMessage = [];
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                errorMessage = "{{ message }}";
                                            {% endif %}
                                        {% endfor %}
                                        if (errorMessage) {
                                            alert(errorMessage);
                                        }
                                    }
                                });
                            });
                        </script>
                        {% if messages %}
                            <script>
                                window.onload = function () {
                                    var successMessages = [];

                                    {% for message in messages %}
                                        {% if message.tags == 'success' %}
                                            successMessages.push("{{ message }}");
                                        {% endif %}
                                    {% endfor %}

                                    if (successMessages.length > 0) {
                                        alert(successMessages[0]);
                                    }
                                };
                            </script>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
